# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
env/
ENV/
venv/
env.bak/
venv.bak/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Ignore other unnecessary files
*.log
*.tmp
*.bak
*.swp

# Ignore data directory
data/

# Ignore README.md
README.md

# Ignore .gitignore
.gitignore
